/* ====================================================== */
/* -------------chat-app -------------------------------- */
/* ======================================================= */

.chat-app {
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
}
.body_wrapper {
  width: 100%;
  position: relative;
  padding-left: 6%;
}
.bodyContainer {
  width: 100%;
  position: relative;
}

/* ====================================================== */
/* ------------- --------Sidebar------------------------ */
/* ======================================================= */

.sidebar-logo-section {
  width: 6%;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  height: 100vh;
}

/* .logo-section {
} */

.logo {
  font-size: 1.6rem;
}

.menu-icon {
  height: 100%;
  margin-top: 1rem;
}

.nav-item {
  margin: 0.2rem 0;
  color: #45596b;
}

.menu-icon ul li .active {
  color: white;
}

.menu-icon ul li .active::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  align-items: center;
  width: 0.3rem;
  height: 2.97rem;
  background-color: white;
  border-radius: 0 0.6rem 0.6rem 0;
}

/* ====================================================== */
/* ------------- --------Recent Chat Section------------------------ */
/* ======================================================= */

.recent-user-section {
  width: 20%;
  flex: 0 0 auto;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 6%;
}
.recentPanel {
  width: 100%;
  overflow: hidden;
  padding: 1rem 1.35rem;
}
.icon {
  position: absolute;
  top: 10px;
  margin: 0 0 0 0.2rem;
}

.serchbar {
  position: relative;
  margin: 2.3rem 0;
}

.fa-magnifying-glass {
  font-size: 1.3rem;
  margin: 0 0.5rem;
}
.serchbar-input {
  border: none;
  background-color: #e5ebf6;
  outline: none;
  padding: 0.6rem 0 0.6rem 3rem;
}

.time-green {
  color: #62696f;
  font-weight: 600;
}
.message-count {
  color: white;
  background-color: #081d34;
  width: 20px;
  font-weight: 600;
  height: 20px;
  border-radius: 20px;
  text-align: center;
}
.poratls-section {
  margin: 1rem 0;
  position: relative;
}

.portal {
  border: 1px solid #081d34;
  padding: 0.5rem 0.5rem;
  font-size: 1.466rem;
}

.poratls-section ul {
  display: grid;
  gap: 10px;
}

.poratls-section ul.recent-portal {
  grid-template-columns: repeat(4, 1fr);
}

.poratls-section ul.media-portal {
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
}

.poratls-section ul li {
  position: relative;
  border: 1px solid #081d34;
  /* padding: 0.5rem 0.5rem; */
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 1.466rem;
  text-align: center;
  border-radius: 0.5rem;
}

.poratls-section ul li span {
  width: 1.3rem;
  height: 1.3rem;
  line-height: 1.3rem;
  /* padding: 0rem 0.2rem; */
  background-color: #e34a4a;
  color: white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: -5px;
  top: -8px;
  font-size: 10px;
}

.poratls-section ul li .active {
  color: #081d34;
}

.myscrollbar {
  /* width: 100%; */
  /* position: absolute; */

  height: 59vh;
  overflow: auto;
  z-index: 11;
}

.new-item,
.active-potal {
  background-color: #081d34;
  color: white;
  border-radius: 0.6rem;
  box-shadow: 0 2px 5px 2px rgba(8, 29, 52, 0.4);
}

.google-message-notificaion {
  width: 1.3rem;
  height: 1.3rem;
  padding: 0rem 0.2rem;
  background-color: #e34a4a;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: -5px;
  top: -8px;
}

.chat-user-recent {
  display: block;
  padding: 0.6rem 0.6rem;
}

.active-user {
  background-color: #e5ebf6;
  border-radius: 0.6rem;
  /* padding: 0.3rem 0.8rem; */
  width: 100%;
}

.recent-user-list {
  padding: 0.3rem 0.8rem;
  overflow: auto;
  display: block;
}
.user-item {
  margin: 0.6rem 0;
}
/* 
.user-image {
  width: 2.2rem;
  height: 2.2rem;
} */

.user-online-status {
  border-radius: 50%;
  bottom: 0;
  border: 2px solid white;
  background-color: #59e6be;
  height: 0.92rem;
  width: 0.92rem;
  position: absolute;
  right: 0;
}

.typing {
  color: #8b83f7;
  height: 20px;
}

.circle {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  border-radius: 50%;
  background-color: #8b83f7;
  left: 30%;
  margin-top: 0.4rem;
  transform-origin: 5%;
  animation: circle 0.75s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 10px;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    /* transform: scaleX(1); */
  }
  40% {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    /* transform: scaleX(0.4); */
  }
  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 25%;
  animation-delay: 0.2s;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
}

.portal-scrollbar {
  width: 20rem;
  overflow-x: scroll;
  height: 6.9rem;
}
.portal-scrollbar::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 10px;
  margin-left: 10px;
}

.portal-scrollbar::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  height: 20px;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.05);
  border: 1px solid rgba(69, 89, 107, 0.18);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}

.user-name-message p span {
  font-size: 14px;
  color: #9ba0b6 !important;
}
/* ====================================================== */
/* ------------- --------messages  Section------------------------ */
/* ======================================================= */
.messages-section {
  width: 75%;
  padding: 0 1rem;
  /* overflow: hidden; */
  flex: 0 0 auto;
}

.user-name-status {
  border-bottom: 1px solid rgba(88, 90, 92, 0.41);
}

.chat-header-seeting-icon {
  background-color: rgb(212, 211, 252);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  line-height: 35px;
  position: relative;

  text-align: center;
  font-size: 1rem;
  margin-right: 7px;
  display: inline-block;
  vertical-align: top;
}

.setting-icon {
  position: absolute;
  top: 0.273rem;
  right: 0.23rem;
}

.msg {
  margin: 0.3rem 0;
}
.client {
  background-color: #e5ebf6;
  padding: 0.6rem;
  border-radius: 0 0.6rem 0.6rem 0.6rem;
  line-height: 1.7rem;
}

.you {
  background-color: #d4e6ff;
  padding: 0.6rem;
  border-radius: 0.6rem 0 0.6rem 0.6rem;
}

.user-header-icons {
  margin: 0 1rem;
}

.chatscrollbar {
  height: 72vh;
  overflow-y: scroll;
  width: 100%;
}

.header-chat {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: white;
}
.message-sent-section {
  margin-top: 1rem;
  /* background-color: white; */
  position: sticky;
  bottom: 0;
  padding: 1rem;
}

.sent-message-input {
  width: 60%;
  background-color: #f3f7fb;
  border: none;
  padding: 0.8rem 0.5rem;
  outline: none;
}

.day {
  background-color: white;
  padding: 0.6rem 1rem;
  margin: 2.3rem 0;
  color: #585a5c;
}

.icons-send-section1 {
  position: absolute;
  right: 20px;
  top: 10px;
}
.icons-send-section {
  color: #081d34;
}

.icons-send-section {
  font-size: 1.3rem;
  margin: 0 0.85rem;
}

.width-input {
  width: 93%;
}

.sent-message-input {
  width: 80%;
}

.user-name-message h5 span {
  font-size: 12px;

  font-weight: 400;
}

.firstCharacter {
  color: rgb(123, 118, 205);
  font-size: 26px;
  padding-top: 24px;
  font-weight: 700;
}
/* ====================================================== */
/* ------------- --------Media  Section------------------------ */
/* ======================================================= */

.media-section {
  width: 25%;
  position: relative;
  /* overflow: hidden; */
  height: 100%;
  padding: 0rem 1rem;
}

.media-property-images {
  width: 4.6rem;
  height: 3.9rem;
}

.title-and-link {
  margin: 1rem 0;
}

/* .link-icons-section {
  background-color: #081d34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.7rem;
  height: 3rem;
  width: 3rem;
} */

.description {
  line-height: 1.2;
}

.link-fille-icon {
  font-size: 2rem;
}

.see-all {
  border-bottom: 2px solid #e34a4a;
}

.medias-artice {
  margin: 0.8rem 0;
}

.property-media-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* .property-media-images .property-media-item {
  width: 4rem;
  height: 4rem;
} */

.property-video-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* text-align: center; */
}

/* .property-media-images .property-media-item img {
  height: 4rem;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.property-video-images .property-media-item img {
  height: 4rem;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
} */

@media (min-width: 768px) {
  .user-image {
    width: 2.5rem;
    height: 2.5rem;
  }
  .property-media-images .property-media-item img {
    height: 3rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  .property-video-images .property-media-item img {
    height: 3rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}

@media (min-width: 1600px) {
  .user-image {
    width: 3.4rem;
    height: 3.4rem;
  }
  .property-media-images .property-media-item img {
    height: 4rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  .property-video-images .property-media-item img {
    height: 4rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}

/* ------------------------------------------------------------------------------------ */

/* ========================================icon-info-page =============================== */
/* --------------------------------------------------------------------------------------- */

.icon-info-page {
  color: #081d34;
  font-size: 1.5rem;
}
.tab-list-item {
  padding: 1rem 1rem !important;
  display: block;
}
.info-icon-wraper {
  background-color: rgb(212, 211, 252);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}
.info-bar-icon {
  color: #7b76cd;
}

.active-tab {
  background-color: #e5ebf6;
  border-radius: 0.6rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: none;
}

tbody,
td {
  width: 50%;
}

.orgnization-main-name {
  font-size: 2.5rem;
  letter-spacing: -1px;
}

.service-info-image {
  border-radius: 0.6rem 0.6rem 0 0;
}

/* ============================================ */
/* -------------------chat menu page-------------- */
/* =============================================== */

/* ========================================= */
/* -----------service page ----------------- */
/* ========================================= */

.buttons-product-manipulate {
  margin: 2rem 0;
}
.buttons-product-manipulate button {
  margin-right: 1rem;
  font-weight: 500;
}

.ant-tabs-nav > .ant-tabs-nav-wrap {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  /* border-radius: 0.25rem; */
  /* border: 1px solid #081d34; */
  margin: 1rem 0.2rem;
  border-radius: 0.3rem;
  /* border: none; */
  padding: 0 3rem;

  /* position: relative; */
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #081d34 !important;
}
.ant-tabs-tab-btn {
  font-size: 1rem;
  color: #62696f;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.ant-tabs-tab-btn:hover {
  color: #081d34 !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background-color: #081d34;
  pointer-events: none;
}

.tablist-product {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.row-for-product {
  padding: 0 0.6rem 1rem 0.6rem;
}

.product {
  /* border: 1px solid #585a5c; */
  border-radius: 0.3rem;
  overflow: auto;
  background-color: white;
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.3);
  margin-top: 1.4rem;
}

/*== Home Page css ==*/
/* .home_panel .recent-user-section {
}
.home_panel .messages-section {
}
.home_panel .media-section {
} */
/* === Global Class == */
.golbalChildSection {
  padding-left: 21.2%;
}
.leftContainer {
  width: 100%;
  position: relative;
  /* display: flex; */
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  flex-direction: row;
  /* height: 100vh; */
  height: 100%;
}
.global_panel {
  width: 100%;
  position: relative;
}

/* .global_panel .recent-user-section {
} */
/* .global_panel .leftGlobal {
  padding: 0px 15px;
} */

.global_panel .info-page {
  width: 75%;
  margin: auto;
  display: flex;
}

/* ============================================================== */
/* ---------------------addd product------------------------- */
/* ==================================================== */
.drag-photo-section {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: auto;
}
.ant-switch-checked {
  background-color: #7b76cd !important;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

select option {
  padding: 1rem 0;
}
.pick-photo {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px dashed #585a5c;
}

/* ===form ==== */

.form-section .input-field {
  margin: 1rem 0;
  color: #081d34;
}
.sub-line-paragrpah {
  color: #9ba0b6;
  position: relative;
  /* right: 1rem; */
  top: -0.7rem;
}

/* =============================services setting pages=========================== */
.setting-services-section {
  overflow: hidden;
  padding-bottom: 1.8rem;
  position: relative;
}

.category-display-section {
  position: relative;
  border: 1px solid #e8e8e9;
  border-radius: 0.6rem;
  overflow: auto;
}

.category-display-section .company-type {
  background-color: #e8e8e9;
  overflow: hidden;
  line-height: 1;
}

.category-item {
  border-bottom: 1px solid #e8e8e9;
}

.add-category-btn {
  color: #7b76cd;
}

/* ===================================================================== */
/* --------------------------login page--------------------------------- */
/* ===================================================================== */
.login-form {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 12rem;
}
.login_form_section {
  padding: 2rem;
}
.login_Card_Google {
  width: 100%;
  height: 100%;
  /* border: 1px solid #081d34; */
  border-radius: 0.6rem;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.highlight {
  background-color: yellow;
}

.form-login {
  padding: 3rem 0 5rem 0;
}

.field-input {
  margin: 1rem 0;
}
.title-logo {
  font-size: 22px;
}

.chativa-icons-sidebar {
  font-size: 35px;
}

.icons-title {
  font-size: 18px;
}

.files-count {
  font-size: 13px;
  padding-left: 10px;
}

.poratls-media-section ul {
  display: grid;
  gap: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.poratls-media-section ul li {
  width: 34px;
  height: 34px;
  line-height: 34px;
}

.poratls-media-section ul.media-portal {
  grid-template-columns: repeat(5, 1fr);
  /* gap: 7px; */
}

@media (min-width: 768px) and (max-width: 1200px) {
  .logo {
    font-size: 1.2rem;
  }
  .title-logo {
    font-size: 15px;
  }
  .user-image {
    width: 2rem;
    height: 2rem;
  }
  .poratls-section ul li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.266rem;
  }
  .poratls-section ul.recent-portal {
    grid-template-columns: repeat(3, 1fr);
  }
  .poratls-media-section ul.media-portal {
    grid-template-columns: repeat(4, 1fr);
    /* gap: 7px; */
  }

  /* all font Sizes */
  .chativa-fs-a {
    font-size: 0.86rem;
  }

  .chativa-fs-b {
    font-size: 1rem;
  }

  .chativa-fs-titles {
    font-size: 1.2rem;
  }

  .chativa-fs-14px {
    font-size: 0.793rem;
  }
  .user-name-message p span {
    font-size: 12px;
    color: #9ba0b6;
  }

  .firstCharacter {
    color: rgb(123, 118, 205);
    font-size: 14px;
    padding-top: 15px;
    font-weight: 700;
  }

  .link-icons-section {
    background-color: #081d34;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 0.7rem; */
    width: 80px !important;
    height: 35px;
    padding: 1rem;
  }

  .link-icons-section .fa-solid {
    display: flex;
    align-items: center;
  }

  .menu-icon ul li .active::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    align-items: center;
    width: 0.3rem;
    height: 2rem;
    background-color: white;
    border-radius: 0 0.6rem 0.6rem 0;
  }

  .chativa-icons-sidebar {
    font-size: 20px;
  }

  .icons-title {
    font-size: 9px;
  }
}
@media (max-width: 1200px) {
  .user-message-time {
    display: none;
  }
}

@media (min-width: 1200px) {
  /* .user-message-time {
    display: none;
  } */
  .chativa-icons-sidebar {
    font-size: 25px;
  }

  .icons-title {
    font-size: 12px;
  }
  .files-count {
    font-size: 10px;
    padding-left: 10px;
  }

  .firstCharacter {
    color: rgb(123, 118, 205);
    font-size: 16px;
    padding-top: 15px;
    font-weight: 700;
  }

  .menu-icon ul li .active::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    align-items: center;
    width: 0.3rem;
    height: 2.7rem;
    background-color: white;
    border-radius: 0 0.6rem 0.6rem 0;
  }

  .link-icons-section {
    background-color: #081d34;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 0.7rem; */
    width: 40px !important;
    height: 35px;
    padding: 1rem;
  }

  .link-icons-section .fa-solid {
    display: flex;
    align-items: center;
  }

  .chativa-fs-14px {
    font-size: 0.699rem;
  }
}

@media (max-width: 1450px) {
  .poratls-section ul.media-portal {
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
  }
  .chativa-fs-a {
    font-size: 0.86rem;
  }

  .chativa-fs-b {
    font-size: 1rem;
  }
}

@media (min-width: 1450px) {
  .chativa-icons-sidebar {
    font-size: 28px;
  }

  .icons-title {
    font-size: 14px;
  }

  .menu-icon ul li .active::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    align-items: center;
    width: 0.3rem;
    height: 2.9rem;
    background-color: white;
    border-radius: 0 0.6rem 0.6rem 0;
  }

  .files-count {
    font-size: 12px;
    padding-left: 10px;
  }

  .link-icons-section {
    background-color: #081d34;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 0.7rem; */
    width: 40px !important;
    height: 35px;
    padding: 1rem;
  }

  .link-icons-section .fa-solid {
    display: flex;
    align-items: center;
  }
}

/* @media () */

@media (min-width: 1600px) {
  .poratls-section ul li {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.466rem;
  }
  .chativa-icons-sidebar {
    font-size: 28px;
  }

  .icons-title {
    font-size: 14px;
  }

  .chativa-icons-sidebar {
    font-size: 28px;
  }

  .icons-title {
    font-size: 14px;
  }
  .files-count {
    font-size: 14px;
    padding-left: 10px;
  }
}

/* ======================================== */
/* -------------Feeed changes------------------ */
/* ============================================ */

.feed {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  background-color: #fbfdff;
}

.feed-rss-section h1 {
  font-size: 20px;
}

.card-jobs {
  padding: 2rem 0;
}

.update-time img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.time-ago {
  font-size: 10px !important;
}

.update-time span {
  color: #45596b;
  font-size: 12px;
}

.post-feed h5 a {
  padding: 0.1rem 0;
  color: #050d16;
  font-weight: 700;
  line-height: 25px;
  font-size: 20px;
}

.post-feed div {
  color: #081d34;
  font-size: 12.4px;
  width: 70%;
}

/* add-button-feed */

.add-feed-button ul li {
  color: #7b76cd;
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  right: 20px;
}

/* ============================================================================ */
/* -------------------------------add account in setting page----------------------- */
/* ================================================================================== */

.login-icons {
  font-size: 24px;
  margin-right: 5px;
}

.login-linkdin {
  color: #0077b5;
}

.login-facebook {
  color: #1977f3;
}

.btns {
  border: none;
  border-radius: 5px;
  padding: 2px 0;
  background: white;
  font-weight: 400 !important;
  color: #081d34 !important;
  background: #efefef !important;
  box-shadow: none !important;
}

.form-add-acount {
  padding: 2rem 0 0.5rem 0;
}

button .btns {
  background-color: none !important;
}
