/* sidebar
logo color white/40px/600
icons/text / 22px/500/#F6FFFF
*/

/* chat recent section
bg-#F5F5F5
chat heading  30px/500/c=primary
serchbar placeholder 24px/500/bg-#E5EBF6
portal / border-1px 
recent heading 25/500/primary
item active-bg(#E5EBF6)
itemheaindg-25/500/
itemsubheadig-20px/500/#9BA0B6 iftyped color #8B83F7
item-time-20px/#9BA0B6/
message-tag 20px/#FD7FA4/bg-#FBD7E2
online status #59E6BE border3px/white

*/

/* chat feed section
bg-#F6F8FC
username-25px
nolinestattus - #AEB3C2/24px
days 24px/400/#585A5C
sender bg-#D4E6FF/24messages
*/

/* 
media section

username 24px 500
subheading 24px/#AEB3C2
media files link 35px/600/primayr
media-headings 32px/500
see=all 26px/500px/#E34A4A
properties-number 28px/white
linke-title 28px/500
link 24px/500/#9BA0B6


*/

/* 
Typography 
in px
40 /22   ||  30/24/25/25/20/20/20  || 25/24/25/24 || 24/24/35/32/26/28/28/24

*/
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a,
NavLink {
  text-decoration: none;
}

html {
  /* font-size: 15px; */
  /* 15/16=93.75 */
  font-size: 93.75%; /* 15px*/
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/* ------------------------------------------------------------------ */
/* ======================== font Sizes ============================== */
/* ------------------------------------------------------------------ */
.chativa-fs-a {

  /* 16px  user-name/sidebar-menu-font */
  font-size: 1.06rem;

}

.chativa-fs-b {
  /* 18px  see all / user-messages  / link*/
  font-size: 1.2rem;
}


.chativa-fs-c {
  /* 16px  timm-in-recent-section  / usersubheading */
  font-size: 1.06rem;

}


.chativa-fs-titles {
  /* 25px all heading */
  font-size: 1.6rem;
}

.chativa-fs-14px {
  /* 14px all heading main-heading*/
  font-size: 0.933rem;
}

}

.chativa-fs-titles {
  /* 25px all heading */
  font-size: 1.66rem;
}

.chativa-fs-titles {
  /* 28px all heading main-heading*/
  font-size: 1.866rem;
}




/* ------------------------------------------------------------------ */
/* ======================== Background colors============================= */
/* ------------------------------------------------------------------ */

.chativa-bg-primary {
  background-color: #081d34 !important;
}

.chativa-bg-secondary {
  background-color: #e5ebf6 !important;
}

.chativa-bg-sender {
  background-color: #d4e6ff !important;
}

.chativa-bg-recent {
  background-color: #f5f5f5;
}

.chativa-bg-chat {
  background-color: #fbfdff;
}

/* ------------------------------------------------------------------ */
/* ======================== typogrphy colors============================== */
/* ------------------------------------------------------------------ */
.chativa-primary {
  color: #081d34 !important;
}

.chativa-secondary {
  /* user-name-recent / messages/recent-heading */
  color: #62696f !important;
}

.chativa-accent {
  color: #9ba0b6 !important;
}

.chativa-fourth {
  color: #585a5c !important;
}

.chativa-common {
  color: #7b76cd;
}

.chativa-danger {
  color: #e34a4a;
}

.chativa-extra {
  color: #aeb3c2;
}
/* ------------------------------------------------------------------ */
/* ======================== font wight============================== */
/* ------------------------------------------------------------------ */

.chativa-fw-7 {
  font-weight: 700;
}
.chativa-fw-5 {
  font-weight: 500;
}
.chativa-fw-4 {
  font-weight: 400;
}

.chativa-first {
  color: #081d34;
}

/* =====common class====== */
input {
  padding: 0.5rem 1rem;
}

.chativa-br {
  border-radius: 0.5rem;
}

#myScrollbar::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 10px;
  margin-left: 10px;
}

#myScrollbar::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  height: 20px;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.05);
  border: 1px solid rgba(69, 89, 107, 0.18);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}

#chatscrollbar::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: #081d34;
}

/*============================== buttons ===========================*/

.chativa-btn {
  font-weight: 500;
  font-size: 1.02rem;
  border-radius: 0.4rem;
  padding: 0.5rem 0.9rem;
  border: none;
  border: 1px solid #aeb3c2;
}
.chativa-btn-primary {
  color: white;
  background-color: #7b76cd;
  border: 1px solid #7b76cd;
  outline: none;

  padding: 0.5rem 0.9rem;
}
